.setting-section {
  display: flex;
  flex-direction: column;
}

.setting-container {
  flex: 1;
  margin-top: 30px;
}

.setting-content {
  padding: 40px 30px;
}

.setting-item {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.15);
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.setting-item span {
  color: var(--accent-color);
  font-weight: 600;
}
