.glassmorphic-list-container {
  margin-bottom: var(--text-content-space);
  /* prevent margin collaps */
  overflow: hidden;
}

.glassmorphic-list {
  display: block;
  list-style: none;
  padding: 0 16px;
  margin: 0 0 10px 0;
  border-radius: 16px;
  color: var(--text-color);
}
.glassmorphic-list .glassmorphic-list {
  margin-top: 10px;
}
.glassmorphic-list-container:has(.glassmorphic-list.glass) {
  margin-bottom: var(--text-content-space);
}

.glassmorphic-list.glass {
  padding: 16px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.glassmorphic-list.small .list-item {
  font-size: 1rem;
}
.list-item {
  position: relative;
  padding-left: 24px;
  margin-bottom: 8px;
  line-height: 1.5rem;
  font-size: 1.1rem;
  font-family: var(--font-family-body);
}

.list-symbol {
  position: absolute;
  left: 0;
  top: 6px;
}

.circle-symbol {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--accent-color);
}

.number-symbol {
  color: var(--accent-color);
  font-weight: 500;
  top: 0;
}

@media (max-width: 768px) {
  .glassmorphic-list.glass {
    padding: 12px;
  }

  /* .list-item {
    font-size: 0.9rem;
    line-height: 1.3rem;
  } */
}
/* @media (max-width: 480px) {
  .glassmorphic-list {
    padding: 8px;
  }

  .list-item {
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
}
@media (max-width: 360px) {
  .glassmorphic-list {
    padding: 6px;
  }

  .list-item {
    font-size: 0.7rem;
    line-height: 1.1rem;
  }
} */
