.done-btn {
  width: 100%;
  text-align: center;
  background-color: var(--accent-light);
  border-radius: 50px;
  padding: 1rem;
  color: var(--accent-color);
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 1rem;
}

.done-btn:hover {
  color: var(--accent-light);
  background-color: var(--accent-color);
}
