.note-container {
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 0.75rem 1.25rem;
  margin-bottom: var(--content-space);
}

.note-container h3 {
  color: var(--accent-color);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 5px;
}
.notes {
  font-family: var(--font-family-body);
  font-size: 1.1rem;
  line-height: 1.8rem;
}
