.heading {
  font-family: "Headland One", serif;
  font-size: 1.5rem;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 0.75rem 0.8rem;
  color: var(--accent-color);
  margin: var(--heading-space) 0 var(--content-space) 0;
  position: relative;
  font-weight: bold;
}

@media (max-width: 768px) {
  .heading {
    font-size: 1.25rem;
  }
}
/*
@media (max-width: 480px) {
  .heading {
    font-size: 1rem;
  }
}
@media (max-width: 360px) {
  .heading {
    font-size: 0.9rem;
  }
} */
