.para {
  color: var(--text-color);
  font-family: var(--font-family-body);
  font-size: 1.1rem;
  margin-bottom: var(--text-content-space);
  line-height: 1.8rem;
}

.tabbed {
  text-indent: 2em; /* Apply space to the first line only */
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.strikethrough {
  text-decoration: line-through;
}

.codeStyle {
  font-family: monospace;
  background-color: #f4f4f4;
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
}

.justify {
  text-align: justify;
}

.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}

/* @media (max-width: 768px) {
  .para {
    font-size: 1rem;
    line-height: 1.7rem;
  }
}
@media (max-width: 480px) {
  .para {
    font-size: 0.9rem;
    line-height: 1.6rem;
  }
}
@media (max-width: 360px) {
  .para {
    font-size: 0.8rem;
    line-height: 1.5rem;
  }
} */
