.media-container {
  .media-wrapper {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: auto;
    overflow: hidden;
    cursor: pointer;
    padding: 15px;
    border-radius: 20px;
    display: block;
    margin-bottom: var(--content-space);

    :is(img, video, iframe, audio) {
      border-radius: 10px;
      display: block;
      object-fit: contain;
      width: 100%;
    }
  }

  &.group-img .media-group-img {
    column-count: 4;
    @media (max-width: 1200px) {
      column-count: 3;
    }
    @media (max-width: 992px) {
      column-count: 2;
    }
    @media (max-width: 768px) {
      column-count: 1;
    }
  }

  &.group-img .image-wrapper {
    padding: 10px;
    border-radius: 15px;
    img {
      border-radius: 5px;
    }
  }

  .audio-wrapper {
    padding: 12px;
  }

  .iframe-wrapper {
    position: relative;
    /* 16:9 aspect ratio */
    padding-bottom: calc(56.25%);
    height: 0;
    overflow: hidden;
  }

  .iframe-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    border: none;
    border-radius: 25px;
  }

  /* Media query: On large screens */
  @media (min-width: 768px) {
    &.responsive {
      .media-wrapper {
        width: 50%;
      }
      .iframe-wrapper {
        padding-bottom: calc(56.25% / 2);
      }
    }
  }
}

.movie {
  width: 100%;
  max-height: calc(70vw * 9 / 16);
  aspect-ratio: auto;
  object-fit: contain;
  display: block;
  background: #000;
}
